html, body {
    margin: 0;
  }
  
  body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #202020;
    
  }
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    margin-bottom: 35px;
  }

  nav {
    margin: 0 30px;
    font-size: 1.75em;
    color: white;
    display: flex;
    align-items: center;
  }

  .nav-link {
    color: wheat;
    margin-left: 30px;
    padding: 8px;
    line-height: 20px;
}

  nav a {
    color: rgb(95, 191, 255);
    text-decoration: none;
    margin: 0 10px;
  }

  .nav.one {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 800px;
  }

  #search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    height: 27px;
    padding: 10px 10px 10px 10px;
    border: none;
    background-color: wheat;
    color: black;
    border-radius: 4px;
    cursor: pointer;
  }

  nav a:hover {
    color: #4b98cc;
  }
  
  #search-btn:hover {
    background-color: #4b98cc
  }
  
  #search-btn:active {
    background-color: #0099ff
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #202020;
    margin: 0 auto;
    min-height: 70vh;
    background-image: url(images/Xaudio-Club-Revue-3.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    background-color: black;
    height: 80px;
    color: white;
  }

  .footer > h2 {
    font-size: 25px;
    color: wheat;
  }

  a.active {
    color: white;
    font-weight: bold;
  }

  #search-input {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    margin-left: 10px;
    height: 22px;
    flex-grow: 1;
  }

  .home-content {
    font-size: 30px;
    color: wheat;
    text-align: center;

  }